*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.s-formulaire{
    background-color: rgba(0, 0, 0, 0.888);
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 30vw;
}

@media screen and (max-width: 860px){
    .s-formulaire{
        width: 90vw;
    }
}
@media screen and (max-width: 330px){
    .s-formulaire{
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
}

.title{
    text-align: center;
    padding: 1.4rem;
    color: white;
    font-size: calc(0.5vw + 0.5rem);

}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    padding: 1.6rem;
}

label{
    color: white;
    font-size: calc(0.5vw + 0.5rem);
}

input{
    height: 4vh;
    width: 80%;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

input::placeholder{
    font-size: calc(0.3vw + 0.5rem);
}

p{
    font-size: calc(0.3vw + 0.5rem);
    color: grey;
}

.secu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    color: beige;
}

.secu span{
    font-size: 1rem;
    width: 33%;
    text-align: center;
    /* visibility: hidden; */
}

.secu span:nth-child(1)::after{
    content: '';
    display: block;
    position: relative;
    background-color: rgb(255, 0, 0);
    height: 2px;
    width: 100%;
    top: 5px;
}

.secu span:nth-child(2)::after{
    content: '';
    display: block;
    position: relative;
    background-color: rgb(255, 166, 0);
    height: 2px;
    width: 100%;
    top: 5px;
}

.secu span:nth-child(3)::after{
    content: '';
    display: block;
    position: relative;
    background-color: rgb(0, 255, 4);
    height: 2px;
    width: 100%;
    top: 5px;
}



.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    height: 3rem;
    width: 12rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img{
    height: 2rem;
    position: relative;
    top: 1rem;
    left: 0.5rem;
    visibility: hidden;
    opacity: 0;
}

.active{
    visibility:visible;
    opacity: 1;
}
